@font-face {
  font-family: 'Mont';
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/mont-regular-webfont.woff2) format('woff2'),
    url(./fonts/mont-regular-webfont.woff) format('woff');
  font-display: block;
}

@font-face {
  font-family: 'Mont';
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/mont-bold-webfont.woff2) format('woff2'),
    url(./fonts/mont-bold-webfont.woff) format('woff');
  font-display: swap;
}


body {
  margin: 0;
  padding: 0;
  background: rgb(201, 208, 232);
  font-family: Mont, sans-serif;
}

.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}